body {
    color: white;
    background-color: purple;
}

.heading {
    width: 80%;
    font-size: 24px;
}

.name_of_person,
#result_person_name,
#result_person_accuracy {
    color: lime;
}

#camera {
    border: 2px dashed black;
    width: 420px;
    height: 300px;
}

#captured_image {
    height: 300px;
    width: 400px;
}